$primary: #ffffff;
$primary3:black;
$primary2: red;
$black: #ffffff;
$white: #E1E1E6;
$gray: #a8a8b3;
$green: red;
$orange: #fd951f;
$theme-colors: ( "primary": $primary, "black": $black, "white": $white, "gray": $gray, "green": $green, "orange": $orange);